<div class="top-header m-0">
    <div class="background"></div>
    <div class="foreground d-flex align-items-center">
        <div class="container container-lg">
            <h1 class="display-1" data-aos="fade-up" data-aos-delay="300" data-aos-duration="750">Pemtech</h1>
            <h4 class="fw-light" data-aos="fade-up" data-aos-delay="900" data-aos-duration="750">Enabling technologists
                to thrive</h4>
        </div>
    </div>
</div>

<div class="home-body m-0">
    <div class="container container-lg py-5 text-center">
        <h2 class="text-center fw-light" data-aos="fade-up">The Committee</h2>
        <div class="container container-fluid m-0 p-0">
            <div class="row" *ngFor="let memberRow of committeeMembersRowLayout">
                <ng-container *ngFor="let member of memberRow">
                    <div class="col-sm card committee-card" data-aos="fade-up" *ngIf="member">
                        <div class="card-body text-center">
                            <h6 class="card-title fw-bold">{{member.name}}</h6>
                            <span class="card-subtitle">{{member.position}}</span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <a class="btn btn-outline-light" data-aos="fade-up" href="{{WEB_ROOT}}/static/pemtech-constitution.pdf"
            target="_blank">Our
            constitution</a>
    </div>
</div>